<div *ngIf="error">
  {{ error }}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-right"></div>
    <div class="col-sm-3">
      <div class="row">
        Total shifts this week: {{ shiftInfo.length }} <br />
        Total hours : {{ getShiftCount() }}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-3">
  <div class="row pt-4 pb-4">
    <div class="col-sm"></div>
    <div class="col-sm-11">
      <div class="row pt-3">
        <div class="col-sm">
          <div class="text-center pb-3">{{ monday | date: "EEE, d, MMM" }}</div>
          <div *ngFor="let shift of shifts">
            <mdb-card class="text-center pt-2" *ngIf="shift.date === monday">
              <mdb-card-body class="text-center p-2">
                Start Time :
                {{ shift.startTime }}
                <br />
                Finish Time:
                {{ shift.finishTime }}
                <br />
                <br />
                Area: {{ shift.area | titlecase }}
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="text-center">
            <button
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              (click)="details(monday)"
              size="sm"
              mdbWavesEffect
            >
              <mdb-icon fas icon="info"></mdb-icon>
            </button>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center pb-3">
            {{ tuesday | date: "EEE, d, MMM" }}
          </div>
          <div *ngFor="let shift of shifts">
            <mdb-card class="text-center pt-2" *ngIf="shift.date === tuesday">
              <mdb-card-body class="text-center p-2">
                Start Time :
                {{ shift.startTime }}
                <br />
                Finish Time:
                {{ shift.finishTime }}
                <br />
                <br />
                Area: {{ shift.area | titlecase }}
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="text-center">
            <button
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              (click)="details(tuesday)"
              size="sm"
              mdbWavesEffect
            >
              <mdb-icon fas icon="info"></mdb-icon>
            </button>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center pb-3">
            {{ wednesday | date: "EEE, d, MMM" }}
          </div>
          <div *ngFor="let shift of shifts">
            <mdb-card class="text-center pt-2" *ngIf="shift.date === wednesday">
              <mdb-card-body class="text-center p-2">
                Start Time :
                {{ shift.startTime }}
                <br />
                Finish Time:
                {{ shift.finishTime }}
                <br />
                <br />
                Area: {{ shift.area | titlecase }}
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="text-center">
            <button
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              (click)="details(wednesday)"
              size="sm"
              mdbWavesEffect
            >
              <mdb-icon fas icon="info"></mdb-icon>
            </button>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center pb-3">
            {{ thursday | date: "EEE, d, MMM" }}
          </div>
          <div *ngFor="let shift of shifts">
            <mdb-card class="text-center pt-2" *ngIf="shift.date === thursday">
              <mdb-card-body class="text-center p-2">
                Start Time :
                {{ shift.startTime }}
                <br />
                Finish Time:
                {{ shift.finishTime }}
                <br />
                <br />
                Area: {{ shift.area | titlecase }}
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="text-center">
            <button
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              (click)="details(thursday)"
              size="sm"
              mdbWavesEffect
            >
              <mdb-icon fas icon="info"></mdb-icon>
            </button>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center pb-3">{{ friday | date: "EEE, d, MMM" }}</div>
          <div *ngFor="let shift of shifts">
            <mdb-card class="text-center pt-2" *ngIf="shift.date === friday">
              <mdb-card-body class="text-center p-2">
                Start Time :
                {{ shift.startTime }}
                <br />
                Finish Time:
                {{ shift.finishTime }}
                <br />
                <br />
                Area: {{ shift.area | titlecase }}
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="text-center">
            <button
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              (click)="details(friday)"
              size="sm"
              mdbWavesEffect
            >
              <mdb-icon fas icon="info"></mdb-icon>
            </button>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center pb-3">
            {{ saturday | date: "EEE, d, MMM" }}
          </div>
          <div *ngFor="let shift of shifts">
            <mdb-card class="text-center pt-2" *ngIf="shift.date === saturday">
              <mdb-card-body class="text-center p-2">
                Start Time :
                {{ shift.startTime }}
                <br />
                Finish Time:
                {{ shift.finishTime }}
                <br />
                <br />
                Area: {{ shift.area | titlecase }}
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="text-center">
            <button
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              (click)="details(saturday)"
              size="sm"
              mdbWavesEffect
            >
              <mdb-icon fas icon="info"></mdb-icon>
            </button>
          </div>
        </div>

        <div class="col-sm">
          <div class="text-center pb-3">{{ sunday | date: "EEE, d, MMM" }}</div>
          <div *ngFor="let shift of shifts">
            <mdb-card class="text-center pt-2" *ngIf="shift.date === sunday">
              <mdb-card-body class="text-center p-2">
                Start Time :
                {{ shift.startTime }}
                <br />
                Finish Time:
                {{ shift.finishTime }}
                <br />
                <br />
                Area: {{ shift.area | titlecase }}
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="text-center">
            <button
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              (click)="details(sunday)"
              size="sm"
              mdbWavesEffect
            >
              <mdb-icon fas icon="info"></mdb-icon>
            </button>
          </div>
        </div>

        <div class="col-sm"></div>
      </div>
    </div>

    <div
      mdbModal
      #basicModal="mdbModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myBasicModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="basicModal.hide()"
              (click)="hideModal()"
            >
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Shift Details</h4>
          </div>
          <div class="modal-body">
            <div *ngIf="shiftDetail.length === 0">No information to show</div>
            <div *ngFor="let s of shiftDetail" class="pt-2">
              <div>
                {{ s.User.name }} ({{ s.area | titlecase }})
                <br />
                {{ s.startTime }} - {{ s.finishTime }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              mdbBtn
              color="secondary"
              class="waves-light"
              aria-label="Close"
              (click)="basicModal.hide()"
              (click)="hideModal()"
              mdbWavesEffect
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
