<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-4 text-center mt-4"></div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-sm-4">
      <form
        #resetPasswordForm="ngForm"
        class="border border-dark p-5 rounded mb-0 z-depth-5"
        (submit)="resetPassword(resetPasswordForm)"
      >
        <!--Title-->
        <p class="h4 mb-4 text-center">Password Reset</p>

        <!--Email-->
        <div class="md-form">
          <div class="mb-4">
            <input
              mdbInput
              name="email"
              ngModel
              type="email"
              class="form-control my-5"
              #emailInput="ngModel"
              required
            />
            <label class="text-dark">Email</label>
            <mdb-error
              *ngIf="
                emailInput.invalid && (emailInput.dirty || emailInput.touched)
              "
            >
              Please enter a valid email
            </mdb-error>
          </div>

          <div class="md-form">
            <div class="mb-4">
              <input
                mdbInput
                name="fullName"
                ngModel
                type="text"
                class="form-control my-5"
                #fullNameInput="ngModel"
                required
              />
              <label class="text-dark">Full name</label>
              <mdb-error
                *ngIf="
                  fullNameInput.invalid &&
                  (fullNameInput.dirty || fullNameInput.touched)
                "
              >
                Please enter your full name
              </mdb-error>
            </div>
          </div>

          <div class="md-form">
            <div class="mb-4">
              Date of birth
              <input
                mdbInput
                type="date"
                name="dob"
                ngModel
                class="form-control"
                #dobInput="ngModel"
              />

              <mdb-error
                *ngIf="dobInput.invalid && (dobInput.dirty || dobInput.touched)"
              >
                Please enter your date of birth
              </mdb-error>
            </div>
          </div>

          <!--Password-->
          <div class="md-form">
            <div class="mb-4">
              <input
                mdbInput
                name="password"
                ngModel
                type="password"
                class="form-control my-5"
                #passwordInput="ngModel"
                required
                password
              />
              <label class="text-dark text-center">Password</label>
              <mdb-error
                *ngIf="
                  passwordInput.invalid &&
                  (passwordInput.dirty || passwordInput.touched)
                "
              >
                Please enter a password
              </mdb-error>
            </div>
          </div>

          <div class="md-form">
            <div class="mb-4">
              <input
                mdbInput
                name="confirmPassword"
                ngModel
                type="password"
                class="form-control my-5"
                #confirmPasswordInput="ngModel"
                required
                password
              />
              <label class="text-dark text-center"> Confirm Password</label>
              <mdb-error
                *ngIf="
                  confirmPasswordInput.invalid &&
                  (confirmPasswordInput.dirty || confirmPasswordInput.touched)
                "
              >
                Please enter a password
              </mdb-error>
            </div>
          </div>
          <!--Button-->
          <button mdbBtn block="true" class="my-4 blue accent-2" type="submit">
            Reset Password
          </button>

          <div
            *ngIf="error"
            class="alert alert-danger text-center"
            role="alert"
          >
            {{ error }}
          </div>
        </div>
      </form>
    </div>

    <div class="col"></div>
  </div>
</div>
