

<form (submit)="onSubmit(editForm)" #editForm="ngForm">
  <div
    *ngIf="error"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeAlert()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    {{error}}
  </div>

  <div
    *ngIf="message"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeAlert()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
  </div>

  <table mdbTable class="pt-5" *ngFor="let user of user">
    <tbody>
      <tr mdbTableCol>
        <th scope="row">Name</th>

        <td>
          <input
            type="text"
            mdbInput
            [(ngModel)]="user.name"
            name="name"
            class="form-control"
            #name="ngModel"
            required
          />
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
          </div>
        </td>
      </tr>
      <tr mdbTableCol>
        <th scope="row">Email</th>

        <td>
          <input
            type="text"
            mdbInput
            [(ngModel)]="user.email"
            name="email"
            class="form-control"
            #email="ngModel"
            required
            email
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
          </div>
        </td>
      </tr>
      <tr mdbTableCol>
        <th scope="row">Phone Number</th>

        <td>
          <input
            type="number"
            name="number"
            mdbInput
            class="form-control"
            [(ngModel)]="user.phoneNo"
            #phoneNo="ngModel"
            required
          />
          <div
            *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="phoneNo.errors.required">
              Phone number is required.
            </div>
          </div>
        </td>
      </tr>
      <tr mdbTableCol>
        <th scope="row">Address</th>

        <td>
          <div class="row">
            <div class="col">
              <!-- House Number -->
              <label> Number </label>
              <input
                type="number"
                name="houseNo"
                mdbInput
                class="form-control"
                [(ngModel)]="user.Address.houseNo"
                #houseNo="ngModel"
                required
              />
              <div
                *ngIf="houseNo.invalid && (houseNo.dirty || houseNo.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="houseNo.errors.required">
                  House number is required.
                </div>
              </div>
            </div>
            <div class="col">
              <label>Street</label>
              <input
                type="text"
                name="street"
                mdbInput
                class="form-control"
                [(ngModel)]="user.Address.street"
                #street="ngModel"
                required
              />
              <div
                *ngIf="street.invalid && (street.dirty || street.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="street.errors.required">
                  Street is required.
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-2">
            <div class="col">
              <label> City </label>
              <input
                type="text"
                name="city"
                mdbInput
                class="form-control"
                [(ngModel)]="user.Address.city"
                #city="ngModel"
                required
              />
              <div
                *ngIf="city.invalid && (city.dirty || city.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="city.errors.required">
                  City is required.
                </div>
              </div>
            </div>
            <div class="col">
              <label> Postcode </label>
              <input
                type="text"
                mdbInput
                name="postcode"
                class="form-control"
                [(ngModel)]="user.Address.postcode"
                #postcode="ngModel"
                required
              />
              <div
                *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="postcode.errors.required">
                  Postcode is required.
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr mdbTableCol>
        <th scope="row">Date of birth</th>

        <td class="text-left">{{ user.dob | date: "mediumDate" }}</td>
      </tr>
      <tr mdbTableCol>
        <th scope="row">Pay per hour (£)</th>

        <td>
          <input
            type="text"
            name="pay"
            mdbInput
            class="form-control"
            [(ngModel)]="user.pay"
            #pay="ngModel"
            required
          />
          <div
            *ngIf="pay.invalid && (pay.dirty || pay.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="pay.errors.required">
              Pay is required.
            </div>
          </div>
        </td>
      </tr>

      <tr mdbTableCol>
        <th scope="row">User Role</th>

        <td class="text-left">
          <input
            class="border border-light"
            mdbInput
            list="userRole"
            [(ngModel)]="user.userRole"
            ngModel
            name="role"
            #role="ngModel"
            required
          />
          <datalist id="userRole">
            <option value="admin">
              Admin
            </option>
            <option value="user"> User </option>
          </datalist>

          <div
            *ngIf="role.invalid && (role.dirty || role.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="role.errors.required">
              User role is required.
            </div>
          </div>
        </td>
      </tr>
      <tr mdbTableCol>
        <td>
          <button
            type="button"
            mdbBtn
            color="danger"
            mdbWavesEffect
            (click)="deleteUser()"
            class="my-4 accent-2"
          >
            Delete user
          </button>
        </td>
        <td>
          <button
            mdbBtn
            [disabled]="!editForm.touched || editForm.invalid"
            (submit)="onSubmit(editForm)"
            class="my-4 blue accent-2 text-white"
            mdbWavesEffect
            type="submit"
          >
            Save changes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
